In [2]:
import pandas as pd
skew_data=pd.read_csv('../data/variation.csv')

In [2]:
indices_data=pd.read_csv('../data/UN HDR all indices data.csv')
indices_data=indices_data[['country','hdi_2021','le_2021','eys_2021','mys_2021','gnipc_2021', 'gdi_2021','ihdi_2021','coef_ineq_2021','region']]
indices_data

,country,hdi_2021,le_2021,eys_2021,mys_2021,gnipc_2021,gdi_2021,ihdi_2021,coef_ineq_2021,region
0,Afghanistan,0.478,61.982400,10.263844,2.985070,1824.190915,0.681,NaN,NaN,SA
1,Angola,0.586,61.643400,12.172100,5.417391,5465.617791,0.903,0.407,30.412168,SSA
2,Albania,0.796,76.462600,14.448000,11.286455,14131.110390,1.007,0.710,10.767685,ECA
3,Andorra,0.858,80.368400,13.300239,10.555120,51166.626610,NaN,NaN,NaN,NaN
4,United Arab Emirates,0.911,78.710400,15.717690,12.694030,62573.591810,0.953,NaN,NaN,AS
...,...,...,...,...,...,...,...,...,...,...
201,Europe and Central Asia,0.796,72.856526,15.446546,10.553922,19351.837020,0.961,0.714,10.277559,NaN
202,Latin America and the Caribbean,0.754,72.099890,14.767956,8.997700,14520.661240,0.986,0.601,19.608799,NaN
203,South Asia,0.632,67.855530,11.562208,6.710321,6481.393135,0.852,0.476,24.251594,NaN
204,Sub-Saharan Africa,0.547,60.112467,10.267338,6.001639,3698.868914,0.907,0.383,29.903424,NaN
205,World,0.732,71.365465,12.780907,8.617461,16752.082920,0.958,0.590,19.358854,NaN

In [3]:
df=pd.merge(skew_data,indices_data,how='left',on='country')
df

,country,std,num_MPs,hdi_2021,le_2021,eys_2021,mys_2021,gnipc_2021,gdi_2021,ihdi_2021,coef_ineq_2021,region
0,Albania,2.569243,219,0.796,76.4626,14.448000,11.286455,14131.110390,1.007,0.710,10.767685,ECA
1,Argentina,1.933359,153,0.842,75.3899,17.874870,11.147269,20925.268140,0.997,0.720,13.837301,LAC
2,Armenia,1.793787,290,0.759,72.0431,13.116760,11.330300,13157.993900,1.001,0.688,9.136398,ECA
3,Australia,0.978750,786,0.951,84.5265,21.054590,12.726820,49238.433350,0.968,0.876,7.640183,NaN
4,Austria,1.586127,182,0.916,81.5797,16.007959,12.256690,53618.671380,0.980,0.851,6.904080,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
89,Venezuela,4.062497,55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90,Vietnam,1.965768,500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91,Wales,3.449031,99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92,Zambia,2.259481,257,0.565,61.2234,10.928760,7.187091,3217.767739,0.965,0.390,30.109645,SSA
93,Ã…land,3.838622,49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df.corr()[['std']]

                     std
std             1.000000
num_MPs        -0.590225
hdi_2021       -0.449463
le_2021        -0.331972
eys_2021       -0.377361
mys_2021       -0.462688
gnipc_2021     -0.419964
gdi_2021       -0.152500
ihdi_2021      -0.413271
coef_ineq_2021  0.282167

In [16]:
df2=df.drop(['hdi_2021', 'le_2021', 'eys_2021', 'mys_2021', 'gnipc_2021', 'gdi_2021', 'ihdi_2021', 'coef_ineq_2021'],axis=1)
df2.fillna('North America and Western Europe',inplace=True)
df2.groupby('region').mean().rename(index={'North America and Western Europe':'North America and Western Europe', 'EAP':'East Asia and Pacific', 'LAC':'Latin America and Caribbean', 'AS':'Arab States', 'SA':'South Asia', 'SSA':'Sub-Saharan Africa', 'ECA':'Europe and Central Asia'})

                                       std     num_MPs
region
Arab States                       3.147429  229.333333
East Asia and Pacific             3.120328  133.875000
Europe and Central Asia           2.732785  173.727273
Latin America and Caribbean       2.545190  281.000000
North America and Western Europe  1.997512  568.333333
South Asia                        2.604330  263.666667
Sub-Saharan Africa                2.613010  229.000000

In [15]:
vdem_data=pd.read_csv('../data/v_dem_elec_democracy.csv')
vdem_data=vdem_data.query('Year==2022')
vdem_data=vdem_data.sort_values(by=['electdem_vdem_owid'],ascending=False)
low_dem=vdem_data[vdem_data['electdem_vdem_owid']<0.4]['Entity'].tolist()
high_dem=vdem_data[vdem_data['electdem_vdem_owid']>0.8]['Entity'].tolist()
vdem_data.head(20)

            Entity Code  Year  electdem_vdem_owid         region
7623       Denmark  DNK  2022               0.916         Europe
28905       Sweden  SWE  2022               0.899         Europe
22021       Norway  NOR  2022               0.899         Europe
29130  Switzerland  CHE  2022               0.898         Europe
9093       Estonia  EST  2022               0.893         Europe
14295      Ireland  IRL  2022               0.889         Europe
20730  New Zealand  NZL  2022               0.889        Oceania
3177       Belgium  BEL  2022               0.887         Europe
17305   Luxembourg  LUX  2022               0.881         Europe
10275       France  FRA  2022               0.874         Europe
28238        Spain  ESP  2022               0.873         Europe
6470    Costa Rica  CRI  2022               0.871  North America
9987       Finland  FIN  2022               0.861         Europe
1631     Australia  AUS  2022               0.858        Oceania
10963      Germany  DEU  2022               0.857         Europe
7266       Czechia  CZE  2022               0.853         Europe
20560  Netherlands  NLD  2022               0.852         Europe
26663     Slovakia  SVK  2022               0.851         Europe
5043        Canada  CAN  2022               0.847  North America
24316     Portugal  PRT  2022               0.846         Europe